* {
    margin: 0;
    padding: 0;
}


.container {
    background-color: aliceblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow {
 
   box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.2), -10px 0px 10px rgba(0, 0, 0, 0.2), 0px 10px 10px rgba(0, 0, 0, 0.2);
   border-radius: 5%;
}

.button-body{
    background: rgb(255, 252, 252);
    padding: 0 12px 20px 12px;
    border-radius: 0 0 10% 10%; 
}
 p{
    font-size: 1rem;
}
.inputall {

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 20px;
}

.input-bg{
    background-color: #040000;
    border-radius:  8% 8% 0 0; 
}

#smallResult{
    min-height: 2rem;
	padding: 10px 0px 2px 0px;
	text-align: right;
	font-size: 1.1em;
    color: #00bfff;
    
}
.result {
    width: 100%;
	padding: 10px 0px 15px 0;
	text-align: right;
    min-height: 3rem;
	font-size: 2.0em;
	font-family: 'Oxygen Mono', monospace;
	background: inherit;
	color: rgb(254, 250, 250);
}
.calculator-title{
    background-color: #fff;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    min-width: 43px;
    min-height: 43px;
    margin: 8px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(202, 199, 205);
    transition-duration: .3s;
    transition-property: box-shadow, transform;
    font-size: 1.1rem;
}

.button:active {
    box-shadow: 0 0 0 rgb(255, 255, 255);
    transform: scale(1.1);
}

.result-btn{
    background-color: #00bfff;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    
}